@font-face {
    font-family: 'unisans b'; 
    src: url('../font/UniSans-Trial-Bold.otf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.authorization {
    font-size: 50px;
    margin-top: 120px;
    font-family: 'unisans b';
    letter-spacing: 3px;
}

input {
    width: 350px;
    height:50px;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
}

.username {
    margin-top: 80px;
}

.password {
    margin-top: 50px;
}

.login {
    width: 200px;
    height: 50px;
    margin-top: 80px;
    border-radius: 10px;
    font-size: 20px;
    letter-spacing: 5px;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: rgb(56, 119, 255);
    color: white;
    font-family: 'unisans b';
    letter-spacing: 3px;
    cursor: pointer;
}

.login:hover {
    background-color: rgb(81, 136, 255);
}

.authWindow {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.theme-toggle {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 25px;
    right: 25px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: white;
    cursor: pointer;
}

.theme-toggle:hover {
    background-color: rgb(243, 243, 243);
}

.themeIcon {
    width: 30px;
}

body.dark-mode {
    background-color: #2c2c2c;
    color: #e0e0e0;
}